*
{
margin:0;
padding:0;
}

.slider 
{
overflow:hidden;
width:100%;
height:100vh;
}

.slider figure div
{
float:left;
width:20%;
}

.slider figure img
{
width:100%;
height:100vh;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
float:left;
}

.slider figure 
{
position:relative;
width:500%;
margin:0;
animation:animate 20s infinite;
}

@keyframes animate
{
0%{left:0%;}
10%{left:0%;}
12%{left:-100%;}
22%{left:-100%;}
24%{left:-200%;}
34%{left:-200%;}
36%{left:-300%;}
46%{left:-300%;}
48%{left:-200%;}
58%{left:-200%;}
60%{left:-100%;}
70%{left:-100%;}
72%{left:0%;}
84%{left:0%;}	
}

.button {
display: block;
border-radius: 10px;
background-color: #333;
border: none;
text-align: center;
font-size: 22px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
position: absolute;
bottom: 10px;
right: 50px;
}

.button:hover {
transform: scale(1.1);
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
color: white;
}

.button span:after {
content: '\00ab';
position: absolute;
opacity: 0;
top: 0;
left: -20px;
transition: 0.5s;
}

.button:hover span {
padding-left: 25px;
}

.button:hover span:after {
opacity: 1;
left: 0;
}